extends baseEmail

block content
 p Hi #{firstName}
 p To confirm your account,please click at the link below
 table.btn.btn-primary(role='presentation',border='0',cellpadding='0',cellspacing='0')

 tbody
 tr

  td(align='left')
   table(role='presentation',border='0',cellpadding='0',cellspacing='0')
    tbody
     tr
      td

       a(href=`${url}`,target='_blank') Confirm your email

 p In case of any inconvenience,kindly mail us at <arkadiptachatterjee@gmail.com> or call us at 8927604667
       
 
