extends baseEmail

block content
p Hi #{firstName},
p Forgot your Password?Submit a Patch request with your new Password and PasswordConfirm to: #{url}
p (Website for this action not yet implemented)
        

table.btn.btn-primary(role='presentation',border='0',cellpadding='0',cellspacing='0')

tbody
 tr

  td(align='left')
   table(role='presentation',border='0',cellpadding='0',cellspacing='0')
    tbody
     tr
      td

       a(href=`${url}`,target='_blank') Reset your Password
       p If you need any further help,please dont hesitate to contact us arkadiptachatterjee@gmail.com
       p If you didn't forget your password,Please ignore this email!
